super-cluster-master-microserver-81.yaml
talosconfig
super-cluster-master_microserver_82.yaml
super-cluster-master-microserver-82.yaml
super-cluster-worker-microserver-83.yaml
super-cluster-worker-microserver-84.yaml
super-cluster-worker-microserver-85.yaml
